 body {
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
  min-height: 100vh;         /* make body fill full height of screen */
  margin: 0;                 /* remove default margin */
  background-color: #183153;
}


  .products-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


 .container {
  width: 200px;
  border: 1px solid transparent;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white ;
    border-radius: 5px;
}

.images {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.thename {
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
    font-weight: bold;
  margin-bottom: 10px;
}

   .star-row {
      display: flex;
      flex-direction: row;      /* default is 'row', but this makes it explicit */
      justify-content: center;  /* center the row horizontally */
      gap: 10px;                /* spacing between stars */
      margin-top: 10px;        /* just for visual spacing */
    }

    .star-row i {
      font-size: 20px;
      color: gold;
    }
  

    button {
    font-weight: bold;
      margin-top: 10px;
      padding: 5px 10px;
      cursor: pointer;
      background-color:white ;
      color: black;
      transition: background-color 0.3s ease;
      border-radius: 5px;
    }

 .button:hover {
      background-color: #0056b3;
 }